<!DOCTYPE html>  <!-- stating that this is an HTML docuemnt-->
<html> <!-- Root element of the document -->
<head> <!-- Contains metadata for the document -->
    <title>Carly's blog</title> <!-- Giving the tag for the page a name -->
</head>
<body> <!-- Programming to show the information will be displayed on the screen-->

<header>
    <h1>/Django Girls Blog</a></h1>
</header>

{% for post in posts %}
    <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}

</body> <!-- Closing the programming section-->
</html> <!-- Closing the root element -->